category_encoders==2.0.0
CurrencyConverter==0.14.2
dash==1.14.0
dash-bootstrap-components==0.10.5
dash-core-components==1.10.2
dash-daq==0.5.0
dash-html-components==1.0.3
dash-renderer==1.6.0
dash-table==4.9.0
datetime
Flask==1.1.2
Flask-Compress==1.5.0
github3.py==1.3.0
GitPython==3.1.7
gunicorn==20.0.4
joblib
json5
matplotlib
numpy==1.16.6
pandas
plotly
plotly-geo==1.0.0
pluggy==0.13.1
python-dateutil==2.8.1
python-editor==1.0.4
python-slugify==4.0.1
scikit-learn
seaborn==0.10.1
xgboost==0.90
